h1 {
    color: white;
    font-family: 'Praise', 'cursive';
    font-family: 'Teko', sans-serif;
    font-size: 40px;

}
body {
    background-image: url(../img/b795fc5853a1f187e92fa83d5aa7c4ba.gif);
}
h2 {
    color: white;
    font-family: 'Praise', 'cursive';
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    position: relative;
    margin-top: 50px;
   margin-left: 50%;
}


nav.menu ul li {
    display: inline-block;
    margin: 25px auto;
    font-family: 'Praise' 'cursive';
    font-family: 'Teko', sans-serif;
    position: relative;
    left: 70%;
    
}    

nav.menu ul li a{
    padding: 10px;
    border: black;
    background: black;
    text-decoration: none;
    color: grey;
    
}
nav.menu ul li a:hover {
    background: white;
 }



nav.form {
    color: white;
    margin: 100px 850px ;
    font-family: 'Praise', 'cursive';
    font-family: 'Teko', sans-serif;
   
    
}

section {
    position: relative;
    margin-left: 35%;
}








.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}


.galeria-grid img {
    width: 100%;
    height: auto;
   
}
